[submodule "mruby/mruby-1.4.1"]
	path = mruby/mruby-1.4.1
	url = https://github.com/kimushu/mruby.git
[submodule "mruby/mruby-2.0.0"]
	path = mruby/mruby-2.0.0
	url = https://github.com/kimushu/mruby.git
